html {
  font-size: 62.5%; }
  html body {
    background: #000;
    color: #FFF;
    font-family: Helvetica, sans-serif;
    font-size: 1.6rem; }
    html body .main-container {
      margin-left: 250px; }
    html body p {
      line-height: 1.2; }
    html body a {
      color: inherit;
      text-decoration: none; }
      html body a:hover {
        color: inherit; }

@media (max-width: 768px) {
  html body .main-container {
    margin-left: 0; }
  html body .main-navigation {
    display: none; } }

.main-navigation {
  position: fixed;
  width: 250px;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center; }
  .main-navigation .nav-list-wrapper {
    border-right: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0px;
    width: 230px; }
    .main-navigation .nav-list-wrapper ul {
      list-style-type: none;
      padding: 0; }
      .main-navigation .nav-list-wrapper ul li {
        font-size: 2.4rem;
        padding: 2rem 3.2rem;
        text-align: center; }
        .main-navigation .nav-list-wrapper ul li a {
          color: rgba(248, 248, 248, 0.5);
          text-decoration: none;
          font-weight: 300;
          transition: all .5s ease-in-out; }
          .main-navigation .nav-list-wrapper ul li a:hover {
            letter-spacing: 3px; }
  .main-navigation .nav-logo {
    position: absolute;
    opacity: 1;
    top: 4rem;
    left: 4rem;
    width: 12rem;
    height: auto;
    transition: all .5s ease-in-out; }

body.fp-viewing-Home .nav-logo {
  opacity: 0; }

body.fp-viewing-Home .nav-list-wrapper ul li:nth-child(1) a {
  color: #f8f8f8;
  letter-spacing: 5px; }

body.fp-viewing-Project .nav-list-wrapper ul li:nth-child(2) a {
  color: #f8f8f8;
  letter-spacing: 5px; }

body[class*="fp-viewing-Artworks"] .nav-list-wrapper ul li:nth-child(3) a {
  color: #f8f8f8;
  letter-spacing: 5px; }

body.fp-viewing-Contact .nav-list-wrapper ul li:nth-child(4) a {
  color: #f8f8f8;
  letter-spacing: 5px; }

.button {
  background-color: #f8f8f8;
  color: #191919;
  width: fit-content;
  padding: 1.3rem 2.4rem;
  border-radius: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  transition: all .3s ease-in-out;
  font-size: 1.3rem; }
  .button.disabled {
    opacity: .2;
    pointer-events: none; }
  .button:hover {
    color: #191919;
    transform: translateY(-5px); }

.section-1 {
  opacity: 0;
  transition: all .8s ease-in-out; }
  .section-1.active {
    opacity: 1; }
  .section-1 .slide-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .section-1 .slide-1 .home-page-logo {
      width: 30vw;
      max-width: 40rem;
      height: auto; }
    .section-1 .slide-1 .presentation-text {
      margin: 6rem 10%; }
      .section-1 .slide-1 .presentation-text p {
        text-align: center;
        max-width: 71rem;
        margin-bottom: 0; }

@media (max-width: 768px) {
  .section-1 .slide-1 .home-page-logo {
    width: 60vw;
    max-width: 40rem;
    height: auto; }
  .section-1 .slide-1 .presentation-text {
    margin: 6rem 10%; }
    .section-1 .slide-1 .presentation-text p {
      text-align: center;
      max-width: 71rem; } }

.section-2 {
  opacity: 0;
  transition: all .8s ease-in-out; }
  .section-2.active {
    opacity: 1; }
  .section-2 .slide-2 {
    display: flex; }
    .section-2 .slide-2 .left-part, .section-2 .slide-2 .right-part {
      flex: 1;
      width: 50%;
      height: 100vh; }
    .section-2 .slide-2 .left-part {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 5rem; }
      .section-2 .slide-2 .left-part .title {
        font-size: 4.2rem;
        margin: 0;
        margin-bottom: 3rem; }
      .section-2 .slide-2 .left-part .project-description {
        margin: 0;
        margin-bottom: 3rem; }
    .section-2 .slide-2 .right-part {
      position: relative; }
      .section-2 .slide-2 .right-part img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      .section-2 .slide-2 .right-part .pic-frame {
        z-index: 5;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        box-shadow: inset 0px 1px 130px 10vw #000000; }

@media (max-width: 768px) {
  .section-2 .slide-2 {
    display: flex; }
    .section-2 .slide-2 .left-part, .section-2 .slide-2 .right-part {
      flex: 1;
      width: 50%;
      height: 100vh; }
    .section-2 .slide-2 .right-part {
      position: absolute;
      z-index: -1;
      width: 100%;
      opacity: 0.3; } }

.section-3 {
  opacity: 0;
  transition: all .8s ease-in-out; }
  .section-3.active {
    opacity: 1; }
  .section-3 .slide-3 .slide-container {
    margin: 0 8rem;
    display: flex; }
    .section-3 .slide-3 .slide-container .left-part, .section-3 .slide-3 .slide-container .right-part {
      flex: 1;
      width: 50%;
      height: 70vh; }
    .section-3 .slide-3 .slide-container .right-part {
      display: flex;
      justify-content: center; }
      .section-3 .slide-3 .slide-container .right-part img {
        width: 100%;
        max-width: 550px;
        height: auto;
        object-fit: contain; }
    .section-3 .slide-3 .slide-container .left-part {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .section-3 .slide-3 .slide-container .left-part .number {
        position: absolute;
        top: 0;
        right: 1rem;
        font-size: 32rem;
        font-weight: bolder;
        color: rgba(0, 0, 0, 0.5);
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #f8f8f8;
        opacity: .3;
        z-index: -1; }
      .section-3 .slide-3 .slide-container .left-part .title {
        font-size: 10rem;
        font-weight: bolder;
        margin: 0;
        padding-right: 2rem;
        text-shadow: 0 0 20px rgba(0, 0, 0, 0.7); }
      .section-3 .slide-3 .slide-container .left-part .description {
        padding-right: 12rem;
        margin-bottom: 4rem; }
  .section-3 .slide-3 .fp-controlArrow {
    top: inherit;
    bottom: 7rem;
    border-color: transparent; }
    .section-3 .slide-3 .fp-controlArrow.fp-next {
      right: 140px; }
      .section-3 .slide-3 .fp-controlArrow.fp-next::after {
        content: url("../../assets/icons/next.svg");
        position: absolute;
        top: 0;
        left: 0;
        width: 60px; }
    .section-3 .slide-3 .fp-controlArrow.fp-prev {
      left: 55px !important;
      right: inherit; }
      .section-3 .slide-3 .fp-controlArrow.fp-prev::after {
        content: url("../../assets/icons/prev.svg");
        position: absolute;
        top: 0;
        left: 0;
        width: 6rem; }
  .section-3 .sin {
    position: relative; }
    .section-3 .sin::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-repeat: no-repeat;
      background-position: center;
      filter: blur(8px) brightness(0.6);
      box-shadow: inset 0px -15px 200px 100px #000000; }
    .section-3 .sin.sin-1::before {
      background-image: url("../../assets/img/sins/01.accidia.jpg"); }
    .section-3 .sin.sin-2::before {
      background-image: url("../../assets/img/sins/02.gola.jpg"); }
    .section-3 .sin.sin-3::before {
      background-image: url("../../assets/img/sins/03.lussuria.jpg"); }
    .section-3 .sin.sin-4::before {
      background-image: url("../../assets/img/sins/04.ira.jpg"); }
    .section-3 .sin.sin-5::before {
      background-image: url("../../assets/img/sins/05.avarizia.jpg"); }
    .section-3 .sin.sin-6::before {
      background-image: url("../../assets/img/sins/06.invidia.jpg"); }
    .section-3 .sin.sin-7::before {
      background-image: url("../../assets/img/sins/07.superbia.jpg"); }

@media (max-width: 1300px) {
  .section-3 .slide-3 .slide-container {
    margin: 0 3rem 5rem;
    flex-direction: column-reverse; }
    .section-3 .slide-3 .slide-container .left-part, .section-3 .slide-3 .slide-container .right-part {
      flex: 1;
      width: 100%;
      height: 70vh; }
    .section-3 .slide-3 .slide-container .right-part {
      margin-top: 3rem; }
      .section-3 .slide-3 .slide-container .right-part img {
        width: 75%;
        max-width: 450px; }
    .section-3 .slide-3 .slide-container .left-part {
      position: inherit;
      align-items: center; }
      .section-3 .slide-3 .slide-container .left-part .number {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 8rem;
        z-index: 4;
        color: rgba(0, 0, 0, 0.5);
        opacity: .8; }
      .section-3 .slide-3 .slide-container .left-part .title {
        font-size: 3.8rem;
        font-weight: bolder;
        text-transform: uppercase;
        letter-spacing: 8px;
        margin: 0;
        margin-top: 2rem;
        padding-right: 0;
        text-shadow: 0 0 20px #d000ff;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #00aaff; }
      .section-3 .slide-3 .slide-container .left-part .description {
        padding-right: 0;
        margin-bottom: 4rem;
        font-size: 1.4rem;
        line-height: normal;
        max-width: 60rem;
        text-align: center;
        max-width: 50rem; }
  .section-3 .slide-3 .fp-controlArrow {
    top: inherit;
    bottom: 5rem;
    border-color: transparent; }
    .section-3 .slide-3 .fp-controlArrow.fp-next {
      right: 90px; }
      .section-3 .slide-3 .fp-controlArrow.fp-next::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 40px; }
    .section-3 .slide-3 .fp-controlArrow.fp-prev {
      left: inherit;
      right: 138px; }
      .section-3 .slide-3 .fp-controlArrow.fp-prev::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 40px; } }

/* smartphones, touchscreens */
.section-4 {
  opacity: 0;
  transition: all .8s ease-in-out; }
  .section-4.active {
    opacity: 1; }
  .section-4 .slide-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem; }
    .section-4 .slide-4 .contact-title {
      font-weight: normal;
      font-size: 1.4rem;
      letter-spacing: 5px;
      text-transform: uppercase;
      text-align: center;
      line-height: 2;
      font-weight: 300;
      margin: 3rem; }
    .section-4 .slide-4 .contact a {
      font-size: 3.2rem;
      font-weight: bolder;
      letter-spacing: 2px;
      text-transform: uppercase;
      transition: all 1s ease-in-out;
      opacity: .7;
      color: rgba(0, 0, 0, 0.5);
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #f8f8f8; }
      .section-4 .slide-4 .contact a:hover {
        letter-spacing: 7px;
        opacity: 1;
        color: #f8f8f8; }

@media (max-width: 768px) {
  .section-4 .slide-4 .contact a {
    font-size: 1.8rem;
    color: #f8f8f8; }
    .section-4 .slide-4 .contact a:hover {
      letter-spacing: 7px;
      opacity: 1;
      color: #f8f8f8; } }
