html {
  font-size: 62.5%;
  body {
    background: #000;
    color: #FFF;
    font-family: Helvetica, sans-serif;
    font-size: 1.6rem;
    
    .main-container {
      margin-left: 250px;
    }
  }
}