// MARGIN & PADDING ----------------------------------------------------------------------------------------------------------

$small-size: .8rem;
$medium-size: 1.6rem;
$large-size: 3.2rem;
$xlarge-size: 4.8rem;


// BREAKPOINTS ----------------------------------------------------------------------------------------------------------

$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;
$break-xlarge: 1300px;

// TEXT ----------------------------------------------------------------------------------------------------------

$xsmall-text: .8rem;
$small-text: 1.2rem;
$default-text: 1.6rem;
$medium-text: 1.8rem;
$large-text: 2.4rem;
$xlarge-text: 6.4rem;
$xxlarge-text: 7.2rem;


// ICON SIZE ----------------------------------------------------------------------------------------------------------

$small-icon: 1.2rem;
$default-icon: 1.6rem;
$medium-icon: 1.8rem;
$large-icon: 2.4rem;