.section-3 {
  opacity: 0;
  transition: all .8s ease-in-out;
  &.active {
    opacity: 1;
  }

  .slide-3 {
    
    .slide-container {
      margin: 0 8rem;
      display: flex;
      
      .left-part, .right-part {
        flex: 1;
        width: 50%;
        height: 70vh;
      }

      .right-part {
        display: flex;
        justify-content: center;
        img {
          width: 100%;
          max-width: 550px;
          height: auto;
          object-fit: contain;
        }
      }

      .left-part {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .number {
          position: absolute;
          top: 0;
          right: 1rem;
          font-size: 32rem;
          font-weight: bolder;
          color: rgba($color: #000000, $alpha: .5);
          -webkit-text-stroke-width: 2px;
          -webkit-text-stroke-color: $white;
          opacity: .3;
          z-index: -1;
        }

        .title {
          font-size: 10rem;
          font-weight: bolder;
          margin: 0;
          padding-right: 2rem;
          text-shadow: 0 0 20px rgba(0,0,0,.7);
        }

        .description {
          padding-right: 12rem;
          margin-bottom: 4rem; 
        }


      }
    }

    .fp-controlArrow {
      top: inherit;
      bottom: 7rem;
      border-color: transparent;

      &.fp-next {
        right: 140px;
        &::after {
          content: url('../../assets/icons/next.svg');
          position: absolute;
          top: 0;
          left: 0;
          width: 60px;
        }
      }
      &.fp-prev{
        left: 55px!important;
        right: inherit;
        &::after {
          content: url('../../assets/icons/prev.svg');
          position: absolute;
          top: 0;
          left: 0;
          width: 6rem;
        }
      }
    }
  }

  .sin {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      z-index: -1;
      background-repeat: no-repeat;
      background-position: center;
      filter: blur(8px) brightness(0.6);
      box-shadow: inset 0px -15px 200px 100px #000000;
    }
    
    &.sin-1 {
      &::before {
        background-image: url('../../assets/img/sins/01.accidia.jpg');
      }
    }
    &.sin-2 {
      &::before {
        // background-image: url('../../assets/img/sins/02.avarizia.jpg' );
        background-image: url('../../assets/img/sins/02.gola.jpg');
      }
    }
    &.sin-3 {
      &::before {
        background-image: url('../../assets/img/sins/03.lussuria.jpg');
      }
    }
    &.sin-4 {
      &::before {
        background-image: url('../../assets/img/sins/04.ira.jpg');
      }
    }
    &.sin-5 {
      &::before {
        background-image: url('../../assets/img/sins/05.avarizia.jpg');
      }
    }
    &.sin-6 {
      &::before {
        background-image: url('../../assets/img/sins/06.invidia.jpg');
      }
    }
    &.sin-7 {
      &::before {
        background-image: url('../../assets/img/sins/07.superbia.jpg');
      }
    }
  }
}

@media (max-width: $break-xlarge) {
  .section-3 {
    .slide-3 {
      .slide-container {
        margin: 0 3rem 5rem;
        flex-direction: column-reverse;

        .left-part, .right-part {
          flex: 1;
          width: 100%;
          height: 70vh;
        }
  
        .right-part {
          margin-top: 3rem;
          img {
            width: 75%;
            max-width: 450px;
          }
        }
  
        .left-part {
          position: inherit;
          align-items: center;
  
          .number {
            position: absolute;
            top: 1rem;
            right: 1rem;
            font-size: 8rem;
            z-index: 4;
            color: rgba($color: #000000, $alpha: .5);
            opacity: .8;
          }
  
          .title {
            font-size: 3.8rem;
            font-weight: bolder;
            text-transform: uppercase;
            letter-spacing: 8px;
            margin: 0;
            margin-top: 2rem;
            padding-right: 0;
            text-shadow: 0 0 20px rgb(208, 0, 255);
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: rgb(0, 170, 255);
          }
  
          .description {
            padding-right: 0;
            margin-bottom: 4rem; 
            font-size: 1.4rem;
            line-height: normal;
            max-width: 60rem;
            text-align: center;
            max-width: 50rem;
          }
  
  
        }
      }
  
      .fp-controlArrow {
        top: inherit;
        bottom: 5rem;
        border-color: transparent;
  
        &.fp-next {
          right: 90px;
          &::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 40px;
          }
        }
        &.fp-prev{
          left: inherit;
          right: 138px;
          &::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 40px;
          }
        }
      }
    }
  }
}

/* smartphones, touchscreens */
// @media (hover: none) and (pointer: coarse) {
//   .fp-controlArrow {
//     display: none!important;
//   }
// }