.button {
  background-color: $white;
  color: $black;
  width: fit-content;
  padding: 1.3rem 2.4rem;
  border-radius: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  transition: all .3s ease-in-out;
  font-size: 1.3rem;

  &.disabled {
    opacity: .2;
    pointer-events: none;
  }

  &:hover {
    color: $black;
    transform: translateY(-5px);
  }
}